.main {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;

  box-sizing: border-box;
  padding: 45px 0;

  height: 100%;
}

.align-center {
  align-items: center;
  padding-top: 32vh;
}

.header {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 2px solid black;

  box-shadow: 0 0 50px 10px rgba(178, 139, 241, 0.15);
}

#search-field, #search-button {
  display: block;

  height: 55px;
  box-sizing: border-box;

  font-size: 20px;
  border: 0;
}

#search-field {
  width: 960px;
  padding: 15px;
}

#search-button {
  width: 95px;
  padding: 10px;
  font-weight: bold;

  border-left: 2px solid black;

  background-color: #B28BF1;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}